--
-- PostgreSQL database dump
--

\restrict bt3sSGBTliH0b3qtwdu1CmlhZk7xY3GcXmvWCP95syH8LnaK4mhcWXhgGAviHsu

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: CategoriaMovimiento; Type: TYPE; Schema: public; Owner: powerpos
--

CREATE TYPE public."CategoriaMovimiento" AS ENUM (
    'VENTA',
    'COMPRA_INSUMOS',
    'NOMINA',
    'SERVICIOS',
    'ARRIENDO',
    'MANTENIMIENTO',
    'IMPUESTOS',
    'OTROS'
);


ALTER TYPE public."CategoriaMovimiento" OWNER TO powerpos;

--
-- Name: EstadoCaja; Type: TYPE; Schema: public; Owner: powerpos
--

CREATE TYPE public."EstadoCaja" AS ENUM (
    'ABIERTA',
    'CERRADA'
);


ALTER TYPE public."EstadoCaja" OWNER TO powerpos;

--
-- Name: EstadoPedido; Type: TYPE; Schema: public; Owner: powerpos
--

CREATE TYPE public."EstadoPedido" AS ENUM (
    'PENDIENTE',
    'EN_COCINA',
    'LISTO',
    'ENTREGADO',
    'ANULADO'
);


ALTER TYPE public."EstadoPedido" OWNER TO powerpos;

--
-- Name: MetodoPago; Type: TYPE; Schema: public; Owner: powerpos
--

CREATE TYPE public."MetodoPago" AS ENUM (
    'EFECTIVO',
    'TARJETA',
    'TRANSFERENCIA',
    'NEQUI',
    'DAVIPLATA'
);


ALTER TYPE public."MetodoPago" OWNER TO powerpos;

--
-- Name: RolUsuario; Type: TYPE; Schema: public; Owner: powerpos
--

CREATE TYPE public."RolUsuario" AS ENUM (
    'SUPERADMIN',
    'ADMIN_EMPRESA',
    'GERENTE',
    'CAJERO',
    'COCINERO',
    'DOMICILIARIO'
);


ALTER TYPE public."RolUsuario" OWNER TO powerpos;

--
-- Name: TipoEventoCaja; Type: TYPE; Schema: public; Owner: powerpos
--

CREATE TYPE public."TipoEventoCaja" AS ENUM (
    'APERTURA',
    'CIERRE',
    'APERTURA_IRREGULAR',
    'DIFERENCIA',
    'MOVIMIENTO'
);


ALTER TYPE public."TipoEventoCaja" OWNER TO powerpos;

--
-- Name: TipoMovimiento; Type: TYPE; Schema: public; Owner: powerpos
--

CREATE TYPE public."TipoMovimiento" AS ENUM (
    'INGRESO',
    'EGRESO'
);


ALTER TYPE public."TipoMovimiento" OWNER TO powerpos;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO powerpos;

--
-- Name: cajas; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.cajas (
    id integer NOT NULL,
    "sucursalId" integer NOT NULL,
    "usuarioId" integer NOT NULL,
    estado public."EstadoCaja" DEFAULT 'ABIERTA'::public."EstadoCaja" NOT NULL,
    "montoInicial" numeric(10,2) NOT NULL,
    "montoFinal" numeric(10,2),
    diferencia numeric(10,2),
    "abiertaEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "cerradaEn" timestamp(3) without time zone
);


ALTER TABLE public.cajas OWNER TO powerpos;

--
-- Name: cajas_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.cajas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cajas_id_seq OWNER TO powerpos;

--
-- Name: cajas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.cajas_id_seq OWNED BY public.cajas.id;


--
-- Name: categorias; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.categorias (
    id integer NOT NULL,
    "empresaId" integer NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    icono text,
    color text,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.categorias OWNER TO powerpos;

--
-- Name: categorias_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.categorias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categorias_id_seq OWNER TO powerpos;

--
-- Name: categorias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.categorias_id_seq OWNED BY public.categorias.id;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    "empresaId" integer NOT NULL,
    nombre text NOT NULL,
    telefono text,
    email text,
    puntos integer DEFAULT 0 NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    direccion text,
    documento text,
    "fechaNacimiento" timestamp(3) without time zone
);


ALTER TABLE public.clientes OWNER TO powerpos;

--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clientes_id_seq OWNER TO powerpos;

--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: detalle_pedidos; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.detalle_pedidos (
    id integer NOT NULL,
    "pedidoId" integer NOT NULL,
    "productoId" integer NOT NULL,
    cantidad integer NOT NULL,
    "precioUnitario" numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    exclusiones text[],
    observacion text
);


ALTER TABLE public.detalle_pedidos OWNER TO powerpos;

--
-- Name: detalle_pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.detalle_pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_pedidos_id_seq OWNER TO powerpos;

--
-- Name: detalle_pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.detalle_pedidos_id_seq OWNED BY public.detalle_pedidos.id;


--
-- Name: empresas; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.empresas (
    id integer NOT NULL,
    nombre text NOT NULL,
    nit text NOT NULL,
    email text NOT NULL,
    telefono text,
    direccion text,
    logo text,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.empresas OWNER TO powerpos;

--
-- Name: empresas_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.empresas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.empresas_id_seq OWNER TO powerpos;

--
-- Name: empresas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.empresas_id_seq OWNED BY public.empresas.id;


--
-- Name: eventos_caja; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.eventos_caja (
    id integer NOT NULL,
    "cajaId" integer NOT NULL,
    "usuarioId" integer NOT NULL,
    tipo public."TipoEventoCaja" NOT NULL,
    descripcion text NOT NULL,
    "esAlerta" boolean DEFAULT false NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.eventos_caja OWNER TO powerpos;

--
-- Name: eventos_caja_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.eventos_caja_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.eventos_caja_id_seq OWNER TO powerpos;

--
-- Name: eventos_caja_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.eventos_caja_id_seq OWNED BY public.eventos_caja.id;


--
-- Name: ingredientes; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.ingredientes (
    id integer NOT NULL,
    nombre text NOT NULL,
    unidad text NOT NULL,
    stock numeric(10,3) NOT NULL,
    "stockMinimo" numeric(10,3) DEFAULT 0 NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "factorConversion" numeric(10,3),
    "unidadCompra" text
);


ALTER TABLE public.ingredientes OWNER TO powerpos;

--
-- Name: ingredientes_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.ingredientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ingredientes_id_seq OWNER TO powerpos;

--
-- Name: ingredientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.ingredientes_id_seq OWNED BY public.ingredientes.id;


--
-- Name: movimientos_financieros; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.movimientos_financieros (
    id integer NOT NULL,
    "empresaId" integer NOT NULL,
    "sucursalId" integer NOT NULL,
    "usuarioId" integer NOT NULL,
    tipo public."TipoMovimiento" NOT NULL,
    categoria public."CategoriaMovimiento" NOT NULL,
    descripcion text NOT NULL,
    monto numeric(10,2) NOT NULL,
    fecha timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "pedidoId" integer,
    comprobante text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.movimientos_financieros OWNER TO powerpos;

--
-- Name: movimientos_financieros_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.movimientos_financieros_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimientos_financieros_id_seq OWNER TO powerpos;

--
-- Name: movimientos_financieros_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.movimientos_financieros_id_seq OWNED BY public.movimientos_financieros.id;


--
-- Name: movimientos_inventario; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.movimientos_inventario (
    id integer NOT NULL,
    "ingredienteId" integer NOT NULL,
    "usuarioId" integer NOT NULL,
    tipo text NOT NULL,
    "cantidadMovida" numeric(10,3) NOT NULL,
    "unidadCompra" text,
    "factorAplicado" numeric(10,3),
    "stockAnterior" numeric(10,3) NOT NULL,
    "stockNuevo" numeric(10,3) NOT NULL,
    descripcion text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.movimientos_inventario OWNER TO powerpos;

--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.movimientos_inventario_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.movimientos_inventario_id_seq OWNER TO powerpos;

--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.movimientos_inventario_id_seq OWNED BY public.movimientos_inventario.id;


--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.pedidos (
    id integer NOT NULL,
    "sucursalId" integer NOT NULL,
    "usuarioId" integer NOT NULL,
    "clienteId" integer,
    "cajaId" integer,
    numero text NOT NULL,
    estado public."EstadoPedido" DEFAULT 'PENDIENTE'::public."EstadoPedido" NOT NULL,
    "metodoPago" public."MetodoPago" DEFAULT 'EFECTIVO'::public."MetodoPago" NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    descuento numeric(10,2) DEFAULT 0 NOT NULL,
    total numeric(10,2) NOT NULL,
    observacion text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.pedidos OWNER TO powerpos;

--
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedidos_id_seq OWNER TO powerpos;

--
-- Name: pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.pedidos_id_seq OWNED BY public.pedidos.id;


--
-- Name: producto_ingredientes; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.producto_ingredientes (
    id integer NOT NULL,
    "productoId" integer NOT NULL,
    "ingredienteId" integer NOT NULL,
    cantidad numeric(10,3) NOT NULL
);


ALTER TABLE public.producto_ingredientes OWNER TO powerpos;

--
-- Name: producto_ingredientes_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.producto_ingredientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.producto_ingredientes_id_seq OWNER TO powerpos;

--
-- Name: producto_ingredientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.producto_ingredientes_id_seq OWNED BY public.producto_ingredientes.id;


--
-- Name: productos; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    "empresaId" integer NOT NULL,
    "categoriaId" integer NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    precio numeric(10,2) NOT NULL,
    imagen text,
    disponible boolean DEFAULT true NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.productos OWNER TO powerpos;

--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_id_seq OWNER TO powerpos;

--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: sucursales; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.sucursales (
    id integer NOT NULL,
    "empresaId" integer NOT NULL,
    nombre text NOT NULL,
    direccion text,
    telefono text,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.sucursales OWNER TO powerpos;

--
-- Name: sucursales_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.sucursales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sucursales_id_seq OWNER TO powerpos;

--
-- Name: sucursales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.sucursales_id_seq OWNED BY public.sucursales.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: powerpos
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    "empresaId" integer,
    "sucursalId" integer,
    nombre text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    rol public."RolUsuario" NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    permisos jsonb
);


ALTER TABLE public.usuarios OWNER TO powerpos;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: powerpos
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO powerpos;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: powerpos
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: cajas id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.cajas ALTER COLUMN id SET DEFAULT nextval('public.cajas_id_seq'::regclass);


--
-- Name: categorias id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.categorias ALTER COLUMN id SET DEFAULT nextval('public.categorias_id_seq'::regclass);


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: detalle_pedidos id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.detalle_pedidos ALTER COLUMN id SET DEFAULT nextval('public.detalle_pedidos_id_seq'::regclass);


--
-- Name: empresas id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.empresas ALTER COLUMN id SET DEFAULT nextval('public.empresas_id_seq'::regclass);


--
-- Name: eventos_caja id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.eventos_caja ALTER COLUMN id SET DEFAULT nextval('public.eventos_caja_id_seq'::regclass);


--
-- Name: ingredientes id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.ingredientes ALTER COLUMN id SET DEFAULT nextval('public.ingredientes_id_seq'::regclass);


--
-- Name: movimientos_financieros id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_financieros ALTER COLUMN id SET DEFAULT nextval('public.movimientos_financieros_id_seq'::regclass);


--
-- Name: movimientos_inventario id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_inventario ALTER COLUMN id SET DEFAULT nextval('public.movimientos_inventario_id_seq'::regclass);


--
-- Name: pedidos id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.pedidos ALTER COLUMN id SET DEFAULT nextval('public.pedidos_id_seq'::regclass);


--
-- Name: producto_ingredientes id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.producto_ingredientes ALTER COLUMN id SET DEFAULT nextval('public.producto_ingredientes_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: sucursales id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.sucursales ALTER COLUMN id SET DEFAULT nextval('public.sucursales_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: powerpos
--



--
-- Data for Name: cajas; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.cajas (id, "sucursalId", "usuarioId", estado, "montoInicial", "montoFinal", diferencia, "abiertaEn", "cerradaEn") FROM stdin;
\.


--
-- Data for Name: categorias; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.categorias (id, "empresaId", nombre, descripcion, icono, color, activo, "creadoEn") FROM stdin;
1	1	Hamburguesas	Hamburguesas cl├ísicas y especiales	­ƒìö	#FF6B35	t	2026-06-21 02:45:37.148
2	1	Perros Calientes	Perros calientes tradicionales	­ƒî¡	#FFB347	t	2026-06-21 02:45:37.157
3	1	Bebidas	Gaseosas, jugos y agua	­ƒÑñ	#4FC3F7	t	2026-06-21 02:45:37.161
\.


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.clientes (id, "empresaId", nombre, telefono, email, puntos, activo, "creadoEn", direccion, documento, "fechaNacimiento") FROM stdin;
\.


--
-- Data for Name: detalle_pedidos; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.detalle_pedidos (id, "pedidoId", "productoId", cantidad, "precioUnitario", subtotal, exclusiones, observacion) FROM stdin;
\.


--
-- Data for Name: empresas; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.empresas (id, nombre, nit, email, telefono, direccion, logo, activo, "creadoEn", "actualizadoEn") FROM stdin;
1	Tr├íiler Don Juancho	900123456-1	admin@donjuancho.com	3001234567	\N	\N	t	2026-06-21 02:45:36.951	2026-06-21 02:45:36.951
\.


--
-- Data for Name: eventos_caja; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.eventos_caja (id, "cajaId", "usuarioId", tipo, descripcion, "esAlerta", "creadoEn") FROM stdin;
\.


--
-- Data for Name: ingredientes; Type: TABLE DATA; Schema: public; Owner: powerpos
--



--
-- Data for Name: movimientos_financieros; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.movimientos_financieros (id, "empresaId", "sucursalId", "usuarioId", tipo, categoria, descripcion, monto, fecha, "pedidoId", comprobante, "creadoEn") FROM stdin;
\.


--
-- Data for Name: movimientos_inventario; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.movimientos_inventario (id, "ingredienteId", "usuarioId", tipo, "cantidadMovida", "unidadCompra", "factorAplicado", "stockAnterior", "stockNuevo", descripcion, "creadoEn") FROM stdin;
\.


--
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.pedidos (id, "sucursalId", "usuarioId", "clienteId", "cajaId", numero, estado, "metodoPago", subtotal, descuento, total, observacion, "creadoEn", "actualizadoEn") FROM stdin;
\.


--
-- Data for Name: producto_ingredientes; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.producto_ingredientes (id, "productoId", "ingredienteId", cantidad) FROM stdin;
1	1	1	1.000
2	1	2	150.000
3	1	3	30.000
4	1	4	40.000
5	1	5	20.000
6	1	6	25.000
7	1	7	15.000
8	2	8	1.000
9	2	9	1.000
10	2	10	100.000
11	2	11	15.000
12	2	12	15.000
\.


--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: powerpos
--



--
-- Data for Name: sucursales; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.sucursales (id, "empresaId", nombre, direccion, telefono, activo, "creadoEn") FROM stdin;
1	1	Sucursal Principal	Calle 10 # 5-23, Centro	3001234567	t	2026-06-21 02:45:37.137
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: powerpos
--

COPY public.usuarios (id, "empresaId", "sucursalId", nombre, email, password, rol, activo, "creadoEn", "actualizadoEn", permisos) FROM stdin;
1	1	\N	Juan Carlos L├│pez	juan@donjuancho.com	$2b$10$poiC.ZHYbybrPpxdAw0FLuXJrAYBc84QEepib6tzI0knOkmrXdn8a	ADMIN_EMPRESA	t	2026-06-21 02:45:37.115	2026-06-21 02:45:37.115	\N
\.


--
-- Name: cajas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.cajas_id_seq', 1, false);


--
-- Name: categorias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.categorias_id_seq', 3, true);


--
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.clientes_id_seq', 1, false);


--
-- Name: detalle_pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.detalle_pedidos_id_seq', 1, false);


--
-- Name: empresas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.empresas_id_seq', 1, true);


--
-- Name: eventos_caja_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.eventos_caja_id_seq', 1, false);


--
-- Name: ingredientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.ingredientes_id_seq', 12, true);


--
-- Name: movimientos_financieros_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.movimientos_financieros_id_seq', 1, false);


--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.movimientos_inventario_id_seq', 1, false);


--
-- Name: pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.pedidos_id_seq', 1, false);


--
-- Name: producto_ingredientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.producto_ingredientes_id_seq', 12, true);


--
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.productos_id_seq', 4, true);


--
-- Name: sucursales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.sucursales_id_seq', 1, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: powerpos
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 1, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: cajas cajas_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.cajas
    ADD CONSTRAINT cajas_pkey PRIMARY KEY (id);


--
-- Name: categorias categorias_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT categorias_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: detalle_pedidos detalle_pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.detalle_pedidos
    ADD CONSTRAINT detalle_pedidos_pkey PRIMARY KEY (id);


--
-- Name: empresas empresas_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT empresas_pkey PRIMARY KEY (id);


--
-- Name: eventos_caja eventos_caja_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.eventos_caja
    ADD CONSTRAINT eventos_caja_pkey PRIMARY KEY (id);


--
-- Name: ingredientes ingredientes_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.ingredientes
    ADD CONSTRAINT ingredientes_pkey PRIMARY KEY (id);


--
-- Name: movimientos_financieros movimientos_financieros_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_financieros
    ADD CONSTRAINT movimientos_financieros_pkey PRIMARY KEY (id);


--
-- Name: movimientos_inventario movimientos_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_pkey PRIMARY KEY (id);


--
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- Name: producto_ingredientes producto_ingredientes_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.producto_ingredientes
    ADD CONSTRAINT producto_ingredientes_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: sucursales sucursales_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.sucursales
    ADD CONSTRAINT sucursales_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: clientes_empresaId_documento_key; Type: INDEX; Schema: public; Owner: powerpos
--

CREATE UNIQUE INDEX "clientes_empresaId_documento_key" ON public.clientes USING btree ("empresaId", documento);


--
-- Name: empresas_nit_key; Type: INDEX; Schema: public; Owner: powerpos
--

CREATE UNIQUE INDEX empresas_nit_key ON public.empresas USING btree (nit);


--
-- Name: pedidos_numero_key; Type: INDEX; Schema: public; Owner: powerpos
--

CREATE UNIQUE INDEX pedidos_numero_key ON public.pedidos USING btree (numero);


--
-- Name: producto_ingredientes_productoId_ingredienteId_key; Type: INDEX; Schema: public; Owner: powerpos
--

CREATE UNIQUE INDEX "producto_ingredientes_productoId_ingredienteId_key" ON public.producto_ingredientes USING btree ("productoId", "ingredienteId");


--
-- Name: usuarios_email_key; Type: INDEX; Schema: public; Owner: powerpos
--

CREATE UNIQUE INDEX usuarios_email_key ON public.usuarios USING btree (email);


--
-- Name: cajas cajas_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.cajas
    ADD CONSTRAINT "cajas_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: cajas cajas_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.cajas
    ADD CONSTRAINT "cajas_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: categorias categorias_empresaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.categorias
    ADD CONSTRAINT "categorias_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: clientes clientes_empresaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT "clientes_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_pedidos detalle_pedidos_pedidoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.detalle_pedidos
    ADD CONSTRAINT "detalle_pedidos_pedidoId_fkey" FOREIGN KEY ("pedidoId") REFERENCES public.pedidos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_pedidos detalle_pedidos_productoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.detalle_pedidos
    ADD CONSTRAINT "detalle_pedidos_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES public.productos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: eventos_caja eventos_caja_cajaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.eventos_caja
    ADD CONSTRAINT "eventos_caja_cajaId_fkey" FOREIGN KEY ("cajaId") REFERENCES public.cajas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: eventos_caja eventos_caja_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.eventos_caja
    ADD CONSTRAINT "eventos_caja_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: movimientos_financieros movimientos_financieros_empresaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_financieros
    ADD CONSTRAINT "movimientos_financieros_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: movimientos_financieros movimientos_financieros_pedidoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_financieros
    ADD CONSTRAINT "movimientos_financieros_pedidoId_fkey" FOREIGN KEY ("pedidoId") REFERENCES public.pedidos(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: movimientos_financieros movimientos_financieros_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_financieros
    ADD CONSTRAINT "movimientos_financieros_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: movimientos_financieros movimientos_financieros_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_financieros
    ADD CONSTRAINT "movimientos_financieros_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: movimientos_inventario movimientos_inventario_ingredienteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT "movimientos_inventario_ingredienteId_fkey" FOREIGN KEY ("ingredienteId") REFERENCES public.ingredientes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: movimientos_inventario movimientos_inventario_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT "movimientos_inventario_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pedidos pedidos_cajaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT "pedidos_cajaId_fkey" FOREIGN KEY ("cajaId") REFERENCES public.cajas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pedidos pedidos_clienteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT "pedidos_clienteId_fkey" FOREIGN KEY ("clienteId") REFERENCES public.clientes(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pedidos pedidos_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT "pedidos_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pedidos pedidos_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT "pedidos_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: producto_ingredientes producto_ingredientes_ingredienteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.producto_ingredientes
    ADD CONSTRAINT "producto_ingredientes_ingredienteId_fkey" FOREIGN KEY ("ingredienteId") REFERENCES public.ingredientes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: producto_ingredientes producto_ingredientes_productoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.producto_ingredientes
    ADD CONSTRAINT "producto_ingredientes_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES public.productos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: productos productos_categoriaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT "productos_categoriaId_fkey" FOREIGN KEY ("categoriaId") REFERENCES public.categorias(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: productos productos_empresaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT "productos_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sucursales sucursales_empresaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.sucursales
    ADD CONSTRAINT "sucursales_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: usuarios usuarios_empresaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT "usuarios_empresaId_fkey" FOREIGN KEY ("empresaId") REFERENCES public.empresas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: usuarios usuarios_sucursalId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: powerpos
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT "usuarios_sucursalId_fkey" FOREIGN KEY ("sucursalId") REFERENCES public.sucursales(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict bt3sSGBTliH0b3qtwdu1CmlhZk7xY3GcXmvWCP95syH8LnaK4mhcWXhgGAviHsu

